<router-outlet></router-outlet> 
<p>
    Username 
    <input type="text" name="FirstName" ng-bind="vm.UserDetail.UserName" ng-change=" vm.onChangeUserName()"><br>
   </p>
   
   <p>
       Email 
       <input type="text" name="FirstName" ng-bind="vm.UserDetail.Email" ng-change="vm. onChangeEmail()"><br>
   </p>
   
   <p>
         Name
         <input type="text" name="FirstName" ng-bind="vm.UserDetail.Name" ng-change="vm.onChangeFullName()"><br>
   </p>
   
    <p>
           Password
           <input type="text" name="FirstName" ng-bind="vm.UserDetail. Password" ng-change="vm. onChangePasword()"><br>
   </p>
   
   <p>
             Confirm Password
             <input type="text" name="FirstName"  ng-bind="vm.UserDetail.Password" ng-change="vm.onChangeConfirmPasword()"><br>
     </p>
   